.main-text {
    width:35%;
    margin:10rem 0;
    padding:10rem 0;
}

.main-description {
    color: #EDEFF6;
}

@media screen and (max-width: 700px) {
    .main-text {
        width: 100%;
        margin: 4rem 0;
        padding: 4rem 0;
    }
}